extends ../../layouts/default.pug

block main
  .container.mt-5
    h2.text-center.mb-4.text-primary 🛒 Giỏ hàng của bạn
    .table-responsive
      table.table.table-striped.table-bordered.shadow-sm
        thead.thead-light
          tr.text-center
            th(style="width: 120px") Hình ảnh
            th Sản phẩm
            th Giá
            th Số lượng
            th Tổng
            th 
        tbody
          each item in cart.products
            tr.text-center.align-middle
              td
                img(src=item.thumbnail, alt=item.title, class="img-thumbnail", style="width: 80px")
              td.text-left.font-weight-bold= item.title
              td.text-danger.font-weight-bold= item.newPrice + '₫'
              td
                input.form-control.form-control-sm.quantity-input(type="number", value=item.quantity, min="1")
              td.text-success.font-weight-bold= item.total + '₫'
              td
                a.btn.btn-info.btn-sm(href=`/products/detail/${item.slug}`)
                  i.fas.fa-eye.mr-1
                a.btn.btn-outline-danger.btn-sm.ml-2(href=`/cart/${cart.id}/${item.id}`)
                  i.fas.fa-trash-alt
    .row.mt-4
      .col-md-6.offset-md-6.text-right
        h4 Tổng cộng: 
          span.text-success.font-weight-bold= cart.totalAmount + '₫'
        a.btn.btn-lg.btn-success.mt-2(href="/checkout")
          i.fas.fa-credit-card.mr-2
          | Thanh toán