.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li 
                a(href=`${prefixAdmin}/products`) Quản lý sản phẩm 
            li 
                a(href=`${prefixAdmin}/product-category`) Quản lý danh mục
            li 
                a(href=`${prefixAdmin}/permissions-group`) Nhóm phân quyền 
            li 
                a(href=`${prefixAdmin}/permissions-group/permissions`) |___ Phân quyền 
            li 
                a(href=`${prefixAdmin}/account`) Quản lý tài khoản