mixin formchangeMulti(path, ListOption)
    form(
            action=`${prefixAdmin}/products/change-multi?_method=PATCH`
            method='POST'
            form-change-multi=''
        )
            .d-flex.align-items-start
                .form-group
                    select(name='type' class='form-control')
                        each option in ListOption
                            if(option.type !== '')
                                option(value=option.type) #{option.name}
                            else 
                                option(value=option.type selected) #{option.name}
                .form-group
                    input(type='text' name='ids' value='' class='form-control d-none')
                button(type='submut' class='btn btn-primary') Áp Dụng