mixin pagination(paginationPage)
    .row.col-12.d-flex.justify-content-center
        ul(class='pagination ')
            li(clasa='page-item')
                    button(class='page-link mr-2' btn-Page=``) Về trang đầu 
            - if(paginationPage.currentPage > 1)
                li(clasa='page-item')
                    button(class='page-link' btn-Page=`${paginationPage.currentPage -1 }`) <
            - for (let index = 1; index <= paginationPage.totalPage; index++)
                li(clasa='page-item')
                    button(class=` btn ${index == paginationPage.currentPage ? 'btn-info' : ''}` btn-Page=`${index}`) #{index}
            - if(paginationPage.currentPage < paginationPage.totalPage)
                li(clasa='page-item')
                    button(class='page-link' btn-Page=`${paginationPage.currentPage + 1}`) >  
            li(clasa='page-item')
                    button(class='page-link ml-2' btn-Page=`${paginationPage.totalPage}`) Về trang cuối