extends ../../layouts/default.pug

block main
  .container.mt-5
    h2.text-primary.mt-5 Sản phẩm: #{product.title}
    .row
      .col-md-6
        img.img-fluid(src=product.thumbnail, alt=product.title)
      .col-md-6
        p.text-muted Giới thiệu: 
          span !{product.description}
        p Giá gốc: 
          del.text-danger #{product.stringPrice}₫
        p Giá mới: 
          span.text-success.font-weight-bold #{product.stringNewPrice}₫
        p Giảm giá: 
          span.badge.badge-warning #{product.discountPercentage}%
        p Còn lại:  
          span.badge #{product.stock}
        form(action="/cart", method="get") 
          form.mt-3
            .form-group
              label(for="quantity") Bạn muốn mua:
              input#quantity.form-control(type="number", min="1", value="1", max=product.stock)
            button.btn.btn-success(type="submit") 🛒 Thêm vào giỏ hàng

    hr.mt-5

    // Nút ở giữa, không viền, chữ xám
    .row.justify-content-center
      .col-md-6.text-center
        button.btn.btn-link.custom-toggle-btn(type="button", data-toggle="collapse", data-target="#productArticle")
          i.fas.fa-chevron-down.mr-2
          | Xem bài viết về sản phẩm

    .collapse#productArticle
      .card.card-body
        h4 Bài viết về sản phẩm
        p {{ product.article }}